.shows_card {
    margin: 1rem;
    width: 200px;
    background-color:#182c57 ;
    border-radius: 3px;
    box-shadow: 3px 3px 5px rgba(0,0,0,0.1);
    margin: 1rem;
    overflow: hidden;
    position: relative;
}


.isDisabled {
    color: currentColor;
    text-decoration: none;
  }
  .no_img{
    height:280px
}

  @media screen and (max-width:800px){
    .no_img{
        height:210px
    }
     
 }
  
 .shows_card img {
     max-width: 100%;
 }
 .show_container{
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     }
.show_info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}     
.show_info p {
    margin: 0;
    font-size: 1rem;
    font-weight: bold;
}
@media screen and (max-width:800px){
    .shows_card{
        width: 150px; 
        margin: 0.2rem;
    }
    .show_info{
        padding: 0;
        flex-wrap: wrap;
        flex-direction: column;
      
    }
    .show_info p {
        margin: 0;
             
         
    }
    .show_info h5 {
        font-weight: 20px;
        font-size: 10px;
    }
}
.show_overview{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgb(75, 70, 70); /* Fallback color */
    background: rgba(0, 0, 0, 0.7); /* Black background with 0.5 opacity */
    color: #f1f1f1;
    padding: 1rem;
    transform: translateY(100%);
    transition: transform 0.3s ease-in-out;
    overflow: auto;
    max-height: 50%;
    text-align:justify;
    font-size: 10px;
}
.shows_card:hover .show_overview{
    transform: translateY(0%);

}
.Star_img{
    width: 15px;
    margin-left: 40px;
    display: flex;
    padding: 0.5rem;
}
/* .Star_img img{
    margin-left: 0.1rem;
} */
.slider_img img {
/* width: 50%; */
height:20%;
border:2px solid #192641;
border-radius: 50px;
display: flex;
align-items: center;
margin-left: 480px;}
.slider{
background-color: #070d18 ;
height: 25%;

}
.slider img {
     width:200px; 
    height:200px;
    border:3px solid #121314;

    }
    @media screen and (max-width:768px){
      .Star_img  {
          margin-left: 0px;
          padding: 0px;
      }
      .Star_img img{
        display: none;
    }
.slider_img img {
    display: flex;
    justify-content: center;
    margin-left: 43px;
}  
    }
    @media screen and (min-device-width : 768px) 
    and (max-device-width : 1024px)  {
        .slider_img img {
            margin-left: 3px;
        }    }
